body {
    font-family: Anek Devanagari;
    margin-left: 25%;
    margin-right: 25%;
}

header {
    margin-left: 25%;
    align-content: center;
    padding-left: 0%;
}

#autore {
    margin-left: 40%;
    color: grey;
}

#list {
    color: red;
    list-style: none;
    margin-left: 0%;
    padding-left: 3%;
    border-left: 2px solid yellow;
}

#title {
    font-size: 2em;
}

aside {
    padding-left: 6%;
    padding-bottom: 3%;
}

video {
    width: 100%;
}