body {
    font-family: Anek Devanagari;
    margin-left: 25%;
    margin-right: 25%;
}

header {
    align-content: center;
}

#autore {
    margin-left: 40%;
    color: grey;
}

#list {
    color: red;
    list-style: none;
    margin-left: 0%;
    padding-left: 3%;
    border-left: 2px solid yellow;
}

#title {
    font-size: 2em;
    margin-bottom: 1%;  
}

aside {
    padding-left: 6%;
    padding-bottom: 3%;
}

video {
    width: 100%;
    padding-top: 5%;
}

#description {
    border-top: 2px solid yellow;
    background-color:rgba(255, 255, 0, 0.288);
    margin-left: -100%;
    margin-right:-100%;
    align-content: center;
    text-align: center;
}

img {
    width: 25%;
    align-content: center;
    align-items: center;
    margin-left: 35%;
}

h1 {
    text-align: center;
}