body {
    font-family: Anek Devanagari;
    margin-left: 25%;
    margin-right: 25%;
}

header {
    margin-left: 25%;
}

#autore {
    margin-left: 40%;
}

#list {
    color: red;
    list-style: none;
    border-left-color: yellow;
    margin-left: 0em;
}